*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
}


.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #e74fb7, #94b6ea);
    padding-top: 4%;
    padding-left: 10%;
    color: #fff;
}

.container h3 {
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;   
}


.container h3 img{
    width: 60px;

}

.container button img {
    width: 25px;
    margin-right: 8px;
}

.container button {
    display: flex;
    align-items: center;
    background: linear-gradient(#9418fd, #571094);
    color: #fff;
    font-size: 16px;
    outline: 0;
    border: 0;
    border-radius: 40px;
    padding: 15px 25px;
    margin: 30px 0 20px;
    cursor: pointer;
}

.container button:hover {
   color: black;
}



.input-box {
    width: 100%;
    position: relative;
    max-width: 500px;
    min-height: 150px;
    background: #fff;
    color: #333;
    padding: 20px;
    margin: 20px 0;
    border-radius: 25px;
    outline: none;

}

.input-box img {
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
}




