*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.main{
    width: 1320px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

h1{
    text-align: center;
    padding: 40px 0px;
}

.filterBox{
    flex-basis: 23% ;
}

.product {
    flex-basis: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-betweens;
}

.categoryList label {
    display: block;
    padding: 5px 0px;
    margin-top: 20px;
}
  
.productItems {
    flex-basis: 31%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 2px #ccc;
}

.productItems img {
    width: 100%;
}

.productItems h4 {
    padding: 4px;
}