body {
    margin: 0;
    padding: 0;
    background: #000; /* Black background */
}

.green {
    width: 300px; /* Remove quotes */
    height: 300px; /* Remove quotes */
    border: 2px solid white; /* Remove quotes */
    background: red; /* Remove quotes */
}

.red {
    width: 150px; 
    height: 150px;
    border: 2px solid white; 
    background: blue; 
    margin: auto; 
}
