h1 {
  background-color: rgb(193, 77, 96);
}

.container {
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
}

.container .card {
  margin: 10px;
  width: 100px;
  height: 120px;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 36px;
}

.add-card {
  cursor: pointer;
}


